.bankAccountContainer {
  width: 100%;
  height: 100%;
  background: #2a2a2a;
  /* padding: 24px; */
  /* border-radius: 12px; */
  /* min-height: 140px; */
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); */
}
.top {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accountName {
  font-style: italic;
  font-size: 26px;
  padding: 10px;
  border-radius: 15px;
}
.btnConnect {
  font-style: italic;
  font-size: 18px;
  padding: 10px;
  border-radius: 15px;
}
.accountName {
  font-size: 26px;
}
.accountBalance {
  font-size: 18px;
}
.accountContainer {
  margin: 10px;
  padding: 20px;
  border-radius: 15px;
  border: 2px solid red;
}
