.navBarContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #fff;
}

.logo {
  padding: 20px;
  /* border: 2px solid red; */
}
.notifications {
  display: flex;
  gap: 12px;
  padding-right: 100px;
}
.logo {
  font-weight: bolder;
  font-style: italic;
}

.btnNot {
  padding: 10px;
}

.btnMessage {
  padding: 10px;
}
