.sideBarContainer {
  width: 100%;
  height: 100%;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul,
ol {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  padding: 32px;
}

li {
  font-size: 26px;
  font-weight: 700;
  font-style: italic;
  list-style: none;
  padding: 10px;
  margin-bottom: 8px;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}
