* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  width: 100vw;
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
}
