* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 240px 1fr;
  height: 100vh;
  background-color: #f5f6fa;
}

.nav {
  background-color: #111827;
  color: #fff;
  padding: 24px 16px;
}

.main {
  padding: 32px;
  overflow-y: auto;
  background-color: #f9fafb;
}
