/* .app {
  width: 100vw;
  background-color: #212121;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid red;
} */

/* Reset-ish */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.app {
  display: grid;
  grid-template-columns: 240px 1fr; /* sidebar | content */
  height: 100vh;
  background-color: #f5f6fa;
}

.nav {
  background-color: #111827;
  color: #fff;
  padding: 24px 16px;
}

/* Main content */
.main {
  padding: 2rem;
  overflow-y: auto;
  background-color: #f9fafb;
}
