* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

.app {
  height: 100vh;
  display: grid;
  grid-template-rows: 60px 1fr;
  color: #fff;
  background-color: #212121;
}
.content {
  grid-row: 2;
  display: grid;
  grid-template-columns: 240px 1fr;
}

.sideBar {
  color: #fff;
  padding: 24px 16px;
  border: 2px solid yellow;
}

.main {
  padding: 32px;
  overflow-y: auto;
}
